# {{ file.name | escape }}


{%- if modules %}
## Modules
{%- for module in modules %}

{%- if module.actions %}
### Actions
{%- for action_name in module.actions %}
:::{talon:action} {{ action_name }}
:::
{%- endfor %}
{%- endif %}

{%- if module.captures %}
### Captures
{%- for capture_name in module.captures %}
:::{talon:capture} {{ capture_name }}
:::
{%- endfor %}
{%- endif %}

{%- if module.lists %}
### Lists
{%- for list_name in module.lists %}
:::{talon:list} {{ list_name }}
:::
{%- endfor %}
{%- endif %}

{%- if module.modes %}
### Modes
{%- for mode_name in module.modes %}
:::{talon:mode} {{ mode_name }}
:::
{%- endfor %}
{%- endif %}

{%- if module.settings %}
### Settings
{%- for setting_name in module.settings %}
:::{talon:setting} {{ setting_name }}
:::
{%- endfor %}
{%- endif %}

{%- if module.tags %}
### Tags
{%- for tag_name in module.tags %}
:::{talon:tag} {{ tag_name }}
:::
{%- endfor %}
{%- endif %}

{%- endfor %}
{%- endif %}
