[submodule "vendor/tree-sitter-talon"]
	path = vendor/tree-sitter-talon
	url = https://github.com/wenkokke/tree-sitter-talon.git
[submodule "vendor/knausj_talon"]
	path = vendor/knausj_talon
	url = https://github.com/knausj85/knausj_talon.git
