[build-system]
requires = ["poetry-core>=1.5.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "talondoc"
version = "0.1.3"
description = "A Sphinx extension for Talon user directories."
license = "MIT"
authors = ["Wen Kokke <wenkokke@users.noreply.github.com>"]
readme = "README.md"
documentation = "https://wenkokke.github.io/talondoc/"
repository = "https://github.com/wenkokke/talondoc"
keywords = ["talon", "sphinx"]
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Topic :: Software Development :: Compilers",
]

[tool.poetry.dependencies]
python = ">=3.9.8,<4.0.0"
awesome-progress-bar = "^1.7.2"
docstring_parser = ">=0.14.1,<0.16.0"
Jinja2 = "^3.1.2"
bumpver = { version = "*", optional = true }
Sphinx = ">=5.1.1,<7.0.0"
sphinx-bootstrap-theme = { version = "^0.8.1", optional = true }
talonfmt = "^1.7.4"
tree_sitter_talon = "^1007.2.0.0"
pywin32 = { version = "*", markers = "sys_platform == 'win32'" }
# Prevent Poetry 1.3 from removing setuptools
setuptools = "*"

[tool.poetry.extras]
test = ["bumpver"]
docs = ["sphinx_bootstrap_theme"]

[tool.poetry.scripts]
talondoc = "talondoc:cli"

[tool.isort]
profile = "black"
line_length = 88

[tool.mypy]
python_version = 3.9
namespace_packages = true
explicit_package_bases = true
ignore_missing_imports = true
no_implicit_optional = false
warn_redundant_casts = true
warn_return_any = true
warn_unused_configs = true

[tool.pytest.ini_options]
enable_assertion_pass_hook = true
filterwarnings = ["ignore::DeprecationWarning:.*:"]
minversion = "6.0"
testpaths = ["tests"]

[tool.bumpver]
current_version = "0.1.3"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "Bump version {old_version} -> {new_version}"
commit = true
tag = true
push = true

[tool.bumpver.file_patterns]
"pyproject.toml" = [
  '^current_version = "{version}"$',
  '^version = "{version}"$',
]
"example/docs/conf.py" = ['^release = "{version}"$']
"talondoc/__init__.py" = ['^__version__: str = "{version}"$']

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py39, py310, py311
isolated_build = true

[testenv]
allowlist_externals = ln, mkdir, sh, rm
extras =
  docs
  test
commands_pre =
  ln '{tox_root}/example/build.sh' '{env_tmp_dir}/build.sh'
  ln -s '{tox_root}/example/knausj_talon' '{env_tmp_dir}/knausj_talon'
  mkdir -p '{env_tmp_dir}/docs'
  ln '{tox_root}/example/docs/conf.py' '{env_tmp_dir}/docs/conf.py'
  ln '{tox_root}/example/docs/index.rst' '{env_tmp_dir}/docs/index.rst'
commands =
  sh '{env_tmp_dir}/build.sh'
  {envpython} -m bumpver update --patch --dry --no-fetch
commands_post =
  rm '{env_tmp_dir}/build.sh'
  rm '{env_tmp_dir}/knausj_talon'
  rm '{env_tmp_dir}/docs/conf.py'
  rm '{env_tmp_dir}/docs/index.rst'
"""
