[build-system]
requires = ["setuptools>=45"]
build-backend = "setuptools.build_meta"

[project]
name = "talondoc"
version = "0.5.1"
description = "A Sphinx extension for Talon user directories."
license = { file = 'LICENSE' }
authors = [{ name = "Wen Kokke", email = "wenkokke@users.noreply.github.com" }]
readme = "README.md"
keywords = ["talon", "sphinx"]
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Topic :: Software Development :: Compilers",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
]
requires-python = ">=3.9,<3.12"
dependencies = [
  "awesome_progress_bar >=1.7,<2",
  "docstring_parser >=0.14,<0.16",
  "editdistance >=0.6,<0.7",
  "Jinja2 >=3,<4",
  "Sphinx >=5,<8",
  "talonfmt >=1.7.4,<2",
  "tree_sitter_talon >=3!1.0,<3!2",
  "colorlog >=6.7,<7",
  "packaging >=23.1,<24",
  'pywin32;platform_system=="Windows"',
]

[project.optional-dependencies]
mypy = [
  "types_click",
  "types_docutils",
  "types_editdistance",
  "types_jinja2",
  "types_pytz",
  "types_setuptools",
]
test = [
  "bumpver",
  "myst_parser >=1,<2",
  "sphinx_rtd_theme >=1.2,<2",
  "sphinx_tabs >=3.4,<5"
]
docs = [
  "myst_parser >=1,<2",
  "sphinx_rtd_theme >=1.2,<2",
  "sphinx_tabs >=3.4,<5"
]

[project.scripts]
talondoc = "talondoc:talondoc"

[tool.bumpver]
current_version = "0.5.1"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "Bump version {old_version} -> {new_version}"
commit = true
tag = true
push = true

[tool.bumpver.file_patterns]
"pyproject.toml" = [
  '^current_version = "{version}"$',
  '^version = "{version}"$',
]
"example/docs/conf.py" = ['^release = "{version}"$']
"src/talondoc/_version.py" = ['^__version__: str = "{version}"$']

[tool.isort]
profile = "black"
line_length = 88

[tool.mypy]
python_version = 3.9
strict = true
ignore_missing_imports = true
implicit_reexport = false
warn_unused_ignores = false

[tool.pytest.ini_options]
enable_assertion_pass_hook = true
filterwarnings = ["ignore::DeprecationWarning:.*:"]
minversion = "6.0"
testpaths = ["tests"]

[tool.setuptools.packages.find]
where = ["src"]

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py39-md, py39-rst, py310-md, py310-rst, py311-md, py311-rst
isolated_build = true

[md]
description = Tests TalonDoc with Markdown
setenv =
  TALONDOC_FORMAT = md

[rst]
description = Tests TalonDoc with reStructuredText
setenv =
  TALONDOC_FORMAT = rst

[testenv]
allowlist_externals = cp, mkdir, sh, rm
extras =
  test
setenv =
  TALONDOC_STRICT = 1
commands_pre =
  cp '{tox_root}/example/build.sh' '{env_tmp_dir}/build.sh'
  cp -R '{tox_root}/example/knausj_talon' '{env_tmp_dir}/knausj_talon'
  mkdir -p '{env_tmp_dir}/docs'
  cp '{tox_root}/example/docs/conf.py' '{env_tmp_dir}/docs/conf.py'
  cp '{tox_root}/example/docs/index.md' '{env_tmp_dir}/docs/index.md'
  cp -R '{tox_root}/example/docs/_static' '{env_tmp_dir}/docs/_static'
commands =
  sh '{env_tmp_dir}/build.sh'
  {envpython} -m bumpver update --patch --dry --no-fetch
commands_post =
  rm -f '{env_tmp_dir}/build.sh'
  rm -rf '{env_tmp_dir}/knausj_talon'
  rm -f '{env_tmp_dir}/docs/conf.py'
  rm -f '{env_tmp_dir}/docs/index.md'
  rm -rf '{env_tmp_dir}/docs/_static'

[testenv:py39-md]
setenv = {[md]setenv}

[testenv:py310-md]
setenv = {[md]setenv}

[testenv:py311-md]
setenv = {[md]setenv}

[testenv:py39-rst]
setenv = {[rst]setenv}

[testenv:py310-rst]
setenv = {[rst]setenv}

[testenv:py311-rst]
setenv = {[rst]setenv}
"""
