body
  column-count: 3

table
  width: 100%
  overflow: hidden
  border: solid
  border-radius: 0.5rem
  margin-bottom: 1rem
  background-color: aliceblue

table > tbody > tr > td
  padding-left: 0.25rem
  padding-right: 0.25rem

thead > tr > th
  text-align: left

td.talon-list-key, td.talon-command-rule
  font-family: monospace

td.talon-command-impl
  display: none
