name: Build & Test

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    types:
      - opened
      - synchronize

defaults:
  run:
    shell: bash

env:
  LC_CTYPE: "C"
  PYTHONIOENCODING: "utf8"

jobs:
  build:
    name: Build & Test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python:
          - { version: "3.9", env: "py39" }
          - { version: "3.10", env: "py310" }
          - { version: "3.11", env: "py311" }
        include:
          - # Earliest supported version:
            os: ubuntu-20.04
            python: { version: "3.9.8", env: "py39" }

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.os == 'windows-latest' }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python.version }}
          cache: "pip"
          cache-dependency-path: "requirements-ci.txt"

      - name: Setup requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-ci.txt

      - name: Build & Test
        run: |
          pipx run --spec tox==4.4.6 \
            tox run -e ${{ matrix.python.env }}

  release:
    name: Release
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')
    uses: ./.github/workflows/release.yml
