name: CI

on: [push]

defaults:
    run:
        shell: bash

env:
    PYTHONUTF8: 1
    RECOMMENDED_OS: "Linux"
    RECOMMENDED_PYTHON_VERSION: "3.9"

jobs:
    build_and_test:
        name: Build and Test
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                python-version: ["3.9"]
        runs-on: ${{ matrix.os }}
        steps:
            ################################################################################
            # Setup
            ################################################################################
            - uses: actions/checkout@v3
              with:
                  submodules: "true"

            - uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
                  cache: "pip" # caching pip dependencies
                  cache-dependency-path: |
                      requirements.txt
                      requirements-dev.txt
                      requirements-test.txt
            - run: pip install .[dev,test]
            ################################################################################
            # Build Documentation
            ################################################################################
            - name: Build Documentation
              run: make html

            - name: Touch .nojekyll
              run: touch example/docs/_build/html/.nojekyll

            - name: Publish Documentation
              if: matrix.python-version == env.RECOMMENDED_PYTHON_VERSION && runner.os == env.RECOMMENDED_OS
              uses: JamesIves/github-pages-deploy-action@v4.4.0
              with:
                  branch: docs
                  folder: example/docs/_build/html
            ################################################################################
            # Build
            ################################################################################
            - if: startsWith(github.ref, 'refs/tags')
              run: python -m build

            ################################################################################
            # Publish to PyPi
            ################################################################################
            - if: startsWith(github.ref, 'refs/tags')
              run: |
                  twine check dist/*
                  twine upload --skip-existing -r pypi dist/*
              env:
                  TWINE_USERNAME: __token__
                  TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}

            ################################################################################
            # Publish to GitHub Release
            ################################################################################
            - if: startsWith(github.ref, 'refs/tags')
              uses: softprops/action-gh-release@v1
              with:
                  files: |
                      dist/*.tar.gz
                      dist/*.whl
                  fail_on_unmatched_files: true
