name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  merge_group:

defaults:
  run:
    shell: sh

env:
  # NOTE: The default Python version is installed with actions/setup-python.
  DEFAULT_PYTHON_VERSION: "3.11"

jobs:
  ################################################################################
  # Build source distribution
  ################################################################################

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Get source
        uses: actions/checkout@v3
        with:
          submodules: true

      - # Required to run job via act: https://github.com/nektos/act
        name: Setup Python
        uses: actions/setup-python@v4
        with:
          cache: "pip"
          cache-dependency-path: "./requirements-ci.txt"
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}

      - # Required to run job via act: https://github.com/nektos/act
        name: Setup dependencies
        run: pip install -r "./requirements-ci.txt"

      - name: Build sdist
        run: pipx run --spec build pyproject-build --outdir dist

      - name: Upload dist
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: |
            ./dist/*.tar.gz
            ./dist/*.whl
          if-no-files-found: error

  ################################################################################
  # Test package with Tox
  ################################################################################

  test:
    name: Test / ${{ matrix.os.name }}
    runs-on: ${{ matrix.os.type }}

    strategy:
      matrix:
        os:
          - name: "Linux"
            type: "ubuntu-latest"
          - name: "macOS"
            type: "macos-latest"
          - name: "Windows"
            type: "windows-latest"

    steps:
      - name: Get source
        uses: actions/checkout@v3
        with:
          submodules: true

      - # Required to run job via act: https://github.com/nektos/act
        name: Setup Python
        uses: actions/setup-python@v4
        with:
          cache: "pip"
          cache-dependency-path: "./requirements-ci.txt"
          python-version: |
            3.9
            3.10
            3.11

      - # Required to run job via act: https://github.com/nektos/act
        name: Setup dependencies
        run: pip install -r "./requirements-ci.txt"

      - name: Test
        run: pipx run tox

  ################################################################################
  # Build binaries with PyInstaller
  ################################################################################

  pyinstaller:
    name: PyInstaller / ${{ matrix.os.name }}
    runs-on: ${{ matrix.os.type }}
    needs: [build, test]

    strategy:
      matrix:
        os:
          - name: "Linux"
            type: "ubuntu-20.04"
          - name: "macOS"
            type: "macos-11"
          - name: "Windows"
            type: "windows-2022"

    permissions:
      contents: write

    steps:
      - name: Get source
        uses: actions/checkout@v3
        with:
          submodules: true

      - # Required to run job via act: https://github.com/nektos/act
        name: Setup Python
        uses: actions/setup-python@v4
        with:
          cache: "pip"
          cache-dependency-path: "./requirements-ci.txt"
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}

      - # Required to run job via act: https://github.com/nektos/act
        name: Setup dependencies
        run: pip install -r "./requirements-ci.txt"

      - name: Build
        run: ./scripts/pyinstaller.sh

      - name: Test
        run: |
          ./bin/talondoc autogen example/docs -o knausj_talon --generate-index
          ./bin/talondoc build example/docs example/docs/_build

      - if: runner.os == 'Linux' || runner.os == 'macOS'
        run: |
          mv ./bin/talondoc \
             ./bin/talondoc-${{ matrix.os.type }}-${{ runner.arch }}

      - if: runner.os == 'Windows'
        run: |
          mv ./bin/talondoc.exe \
             ./bin/talondoc-${{ matrix.os.type }}-${{ runner.arch }}.exe

      - name: Upload bin
        uses: actions/upload-artifact@v3
        with:
          name: bin
          path: "./bin/talondoc-*"
          if-no-files-found: error

  ################################################################################
  # Publish docs to GitHub Pages
  ################################################################################

  publish-docs-to-github-pages:
    name: Publish docs to GitHub Pages
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - name: Get source
        uses: actions/checkout@v3
        with:
          submodules: true

      - # Required to run job via act: https://github.com/nektos/act
        name: Setup Python
        uses: actions/setup-python@v4
        with:
          cache: "pip"
          cache-dependency-path: "./pyproject.toml"
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}

      - name: Setup dependencies
        run: pip install .[docs]

      - name: Build docs
        run: |
          python -X utf8 -m talondoc autogen example/docs -o knausj_talon --generate-index
          python -X utf8 -m talondoc build example/docs example/docs/_build

      - name: Publish docs to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: docs
          folder: example/docs/_build

  ################################################################################
  # Publish package to GitHub Releases
  ################################################################################

  publish-package-to-github-releases:
    name: Publish package to GitHub Releases
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build, test]

    permissions:
      contents: write

    steps:
      - name: Download bin
        uses: actions/download-artifact@v3
        with:
          name: bin
          path: bin

      - name: Download dist
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist

      - name: Publish to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          files: |
            bin/talondoc-*
            dist/*.tar.gz
            dist/*.whl
          fail_on_unmatched_files: true

  ################################################################################
  # Publish package to PyPI
  ################################################################################

  publish-package-to-pypi:
    name: Publish package to PyPI
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build, test]

    environment:
      name: pypi
      url: https://pypi.org/p/talonfmt

    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - name: Download dist
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
