name: Release

on:
  workflow_call:

defaults:
  run:
    shell: bash

jobs:
  publish:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          cache: "pip"
          cache-dependency-path: "requirements-ci.txt"

      - name: Build docs
        run: |
          pipx run --spec poetry==1.4.0 \
            poetry install -E docs && \
            poetry run sh example/build.sh
          touch example/docs/_build/html/.nojekyll

      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: docs
          folder: example/docs/_build/html

      - name: Build sdist
        run: |
          pipx run --spec poetry==1.4.0 \
            poetry build --format=sdist

      # - name: Publish to PyPi
      #   uses: pypa/gh-action-pypi-publish@release/v1
      #   with:
      #     user: __token__
      #     password: ${{ secrets.PYPI_API_TOKEN }}
      #     skip_existing: true

      - name: Publish to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/**.tar.gz
            dist/**.whl
          fail_on_unmatched_files: true
